/*structure*/
/*grabbed this from hero background images site!*/
body {
background-color: #e1e8e3;
background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23bbb4c5' fill-opacity='0.23'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

header {
	height: 100px;
	background-color: #c4c6e7;
	text-align: center;
}

footer {
  height: 80px;
	background-color: #c4c6e7;
	text-align: center;
  padding-top: 40px;
  
}

article {
	text-align: center;
}

hr {
	height: 2px;
  width: 800px;
	background-color: #30011e;
	margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}


/*type*/

h1 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 36px;
  font-weight: 300;
	color: #ffffff;
}

h2 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 24px;
  font-weight: 400;
	color: #ffffff;
  text-align: center;
}

h2 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 24px;
  font-weight: 400;
	color: #6b7d7d;
  text-align: center;
}

h3 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
  font-weight: 600;
	color: #6b7d7d;
  text-align: center;
}

p{
	font-family: Nexa, Ariel, Helvetica;
	font-size: 16px;
	color: #545454;
}

/*list styles*/
ul{
  list-style-position: inside;
  padding: 0;
  align-items: center;
  list-style-type: circle;
}

ol{
  list-style-type: none;
  padding: 0;
}

/*classes*/

.highlight-image {
	height: 300px;
	width: 400px;
  margin: 0 auto;
	padding-top: 40px;
}

.color-wrapper {
  width: 600px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  opacity: 0.5;
  border-radius: 5px;
}
